@model Marcos.Prestamos.Models.UsuUsuario

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>UsuUsuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="User" class="control-label"></label>
                <input asp-for="User" class="form-control" />
                <span asp-validation-for="User" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FKEmpEmpleado" class="control-label"></label>
                <select asp-for="FKEmpEmpleado" class="form-control" asp-items="ViewBag.FKEmpEmpleado"></select>
                <span asp-validation-for="FKEmpEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FKUsuCatRol" class="control-label"></label>
                <select asp-for="FKUsuCatRol" class="form-control" asp-items="ViewBag.FKUsuCatRol"></select>
                <span asp-validation-for="FKUsuCatRol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FKUsuCatEstado" class="control-label"></label>
                <select asp-for="FKUsuCatEstado" class="form-control" asp-items="ViewBag.FKUsuCatEstado"></select>
                <span asp-validation-for="FKUsuCatEstado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
